<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- [routerLink]="['/', 'about']" -->
      <ion-button  href="/about">About
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      Coronavirus | Live Updates
    </ion-title>

    <ion-buttons slot="end">
        <ion-button href="/posts" >News
        <ion-icon slot="end" name="newspaper-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Coronavirus | Live Updates</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item-divider>
    <ion-label>
      Global Cases
    </ion-label>
  </ion-item-divider>
 


  <ion-card>
    <!-- <p class="ion-text-center">Last updated : {{this.dataBlock.lastUpdate | date: 'medium' }}</p> -->
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-card class="ion-text-center  confirmed">
          <ion-card-title class="text-confirmed" >Confirmed</ion-card-title>
          <h1 class="text-center"> {{this.dataBlock.confirmed.value}}</h1>
          <span>00</span>
        </ion-card>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center recovered" >
        <ion-card-title class="text-recovered" >Recovered</ion-card-title>
       <h1 class="text-center">{{this.dataBlock.recovered.value}}</h1>
       <span>{{this.dataBlock.recovered.value / this.dataBlock.confirmed.value | percent}}</span>
     </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <ion-card class="ion-text-center deaths">
      <ion-card-title class ="text-deaths" >Deaths</ion-card-title>
     <h1 class="text-center">{{this.dataBlock.deaths.value}}</h1>
     <span>{{this.dataBlock.deaths.value / this.dataBlock.confirmed.value | percent}}</span>
   </ion-card>
  </ion-col>
  </ion-row>

</ion-grid>

<div class="divshare">
  <fb-like url={{this.url}}></fb-like>
  <a href="{{this.whatsappUrl}}" data-action="share/whatsapp/share">Whatsapp <ion-icon name="logo-whatsapp"></ion-icon></a>
  <tweet url={{this.url}} text={{text}}></tweet>
</div>

</ion-card>




  <ion-item-divider>
    <ion-label>Country Cases</ion-label> 
  </ion-item-divider>

  <ion-item>
    <ion-label>
      Select country
    </ion-label>
    <ion-select cancelText="Nah" okText="Okay!" (ionChange)="getCountryCases()" [(ngModel)]="this.selectedCountry"> 
      <ion-select-option value="{{this.country.alpha2Code}}" *ngFor="let country of countriesBlock" >{{this.country.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
  <ion-grid>
    <p class="ion-text-center">Last updated : {{this.countryCases.lastUpdate | date: 'medium' }}</p>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center confirmed" >
          <ion-card-title class="text-confirmed" >Confirmed</ion-card-title>
          <h1 class="text-center"> {{this.countryCases.confirmed.value}}</h1>
          <span>00</span>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center recovered">
          <ion-card-title class ="text-recovered" >Recovered</ion-card-title>
         <h1 class="text-center">{{this.countryCases.recovered.value}}  </h1>
         <span>{{this.countryCases.recovered.value / this.countryCases.confirmed.value | percent}}</span>
         
       </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center deaths">
          <ion-card-title class="text-deaths" >Deaths</ion-card-title>
         <h1 class="text-center text">{{this.countryCases.deaths.value}}</h1>
         <span>{{this.countryCases.deaths.value / this.countryCases.confirmed.value | percent}}</span>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
  
<!-- 
  <ion-item-divider>
    <ion-label> News</ion-label> 
  </ion-item-divider>


  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button expand="full" fill="clear" [routerLink]="['/', 'post', post.id ]" text-right>Read More...</ion-button>
      
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="900px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading more news..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->


</ion-content>

